.section {
    min-height: 100vh;
    overflow: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.text-overlay {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contentWrapper {
    padding: 20px; /* Adjust padding as needed */
}

/* Resetting the margin-bottom for last child of the section */
.section > :last-child {
    margin-bottom: 0;
}


.container {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    align-items: center; /* Center the columns vertically */
    flex-wrap: wrap; /* Allow columns to wrap to the next line on smaller screens */
    padding-top: 50px;
}

.customRow {
    margin-right: -15px;
    margin-left: -15px;
}

/* Add a custom class for the columns with increased gutter */
.customCol {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .row {
        width: 100%; /* Each column takes 100% width on screens smaller than 768px */
    }

    .customCol {
        padding: 30px 30px;
    }
}