.simpleImageSection {
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
    position: relative;
    z-index: -1;
    background-image: url('../../../images/photo_aless_yas.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Uncomment this line for a parallax effect */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.simpleImageSection img {
    max-width: 100%;
    height: auto;
}