.introTitle {
    font-family: 'kalam', cursive;
    font-weight: bold;
    /*padding-top: 160%;*/
    white-space: nowrap;
    color: white;

    @media screen and (max-width: 768px) {
        /* font divided by 1.5 */
        font-size: 4em; /* Adjust the font size for smaller screens */

    }
}

.introSection {
    width: 100%;
    height: 130vh;
    position: relative;
    overflow: hidden;
}

.introContent {
    color: white;
    font-weight: bold;
    text-align: justify;
}

.weddingLocation {
    font-family: 'kalam', cursive;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color:white;

    /*@media screen and (max-width: 768px) {*/
    /*    font-size: 1.6em; !* Adjust the font size for smaller screens *!*/

    /*}*/

}

.rsvpButton {
    background-color: #E6A4B4 !important;
    color: #fff;
}

.parallaxEffect {
    /*width: 100%;*/
    /*height: 80vh;*/
    /*min-height: 100vh;*/
    /*!*object-fit: cover;*!*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 0;*/
    background-image: url('../../../images/shooting_photo/shooting_photo_couverture_site.JPG');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 576px) {
        .parallaxEffect {
            min-height: 300px;
        }
    }

    @media (max-width: 576px) {
        .parallaxEffect {
            min-height: 130vh;
        }
    }
}