.introTitle {
    font-family: 'Quattrocento', cursive;
    font-size: 5em;
    /*font-weight: bold;*/
    /*white-space: nowrap;*/
    color: #ffffff;

    @media screen and (max-width: 768px) {
        /* font divided by 1.5 */
        font-size: 4em; /* Adjust the font size for smaller screens */

    }
}

.introSection {
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    overflow: hidden;
}

.introContent {
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    font-family: 'Quattrocento', cursive;
    font-size: 24pt;
}

.weddingLocation {
    font-family: 'kalam', cursive;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.customButtonDiv {
    @media screen and (max-width: 1000px) and (orientation: landscape) {
        margin-top: 6rem;
    }
}
.rsvpButton {
    background-color: rgba(169, 179, 136, 0.5) !important;
    color: white !important;
    border: 3px solid white;
}

.parallaxEffect {
    position: relative;
    background: url("../../../images/shooting_photo/shooting_couverture_home.JPG") center/cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;

}

@media (max-width: 576px) and (orientation: portrait) {
    .mb-3 {
        margin-bottom: 3rem; /* Adjust as needed */
    }
}

@media (max-width: 576px) and (orientation: landscape) {
    .mt-auto {
        margin-top: 3rem; /* Adjust as needed */
    }
    .pb-3 {
        padding-bottom: 3rem; /* Adjust as needed */
    }
}