.rsvpButton {
    background-color: rgb(169, 179, 136) !important;
    color: white !important;
    border: 3px solid white;
}

.rsvpSection {
    height: auto;
    padding-top: 1vh;
    padding-bottom: 50px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}