.pContent {
    font-family: 'raleway', cursive;
    font-size: 1.167em;
    font-weight: bold;
}

.text-content-centered {
    font-family: 'raleway', cursive;
    font-size: 1.167em;
    font-weight: bold;
    text-align: center;

    margin: 0 auto; /* Center the div itself */
    padding: 1em;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    width: 16em;
    padding-top: 4em;

    @media screen and (max-width: 768px) {
        /*width: 10em;*/
        /*padding-top: 4em; !* Adjust the padding for smaller screens *!*/
    }
}

.contentLeft {
    max-width: 100%; /* Adjust for responsiveness */
    text-align: left;
    padding: 0 20px; /* Add some padding on the sides */
}

.contentLeft p {
    text-align: justify;
    line-height: 1.5;
}

button:hover {
    background-color: #0056b3;
}

/* Media query for tablets and smaller screens */
@media screen and (max-width: 768px) {
    .contentLeft {
        padding: 10px; /* Remove padding on smaller screens */
    }
}

/* First content section in the foreground */
.content-section {
    height: auto;
    min-height: 100vh;
    padding-top: 50vh; /* Adjust for spacing */
    padding-bottom: 50px; /* Add some bottom padding to the content */
    /*color: black;*/
    position: relative;
    z-index: 1; /* Set a higher z-index to bring it to the foreground */
    align-items: center;
    justify-content: center;
}

.otherSections {
    height: 150vh;
    padding-top: 1vh; /* Adjust for spacing */
    padding-bottom: 50px; /* Add some bottom padding to the content */
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set a minimum height to cover the viewport */
    overflow: auto;
}

/* Custom Styles */

.stickyImage {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    left: 0;
}

.text-on-top-of-image {
    position: absolute;
    top: 10%; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    z-index: 2; /* Ensure text is above backgroundImage */
}


.text-overlay {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}

/* Adjust padding for smaller screens */
@media (max-width: 768px) {
    section:not([id^="section-fixed-image"]):not([id*="PhotoSlider"]) {
        padding: 30px 15px;
    }

    .simpleImageSection {
        padding: 0;
    }

    /* Smaller font size for smaller screens */
    h1, h2, h3 {
        font-size: 1.5em;
    }
}

/* Customize colors for each section */
section {
    /* Blanc */
    /*background-color: #ededed;*/
    /* Céladon */
    /*background-color: #83a697;*/
    /* Sépia */
    /*background-color: #a98c78;*/
    background-color: #fdf9f4;
}

.footer {
    color: black;
    background-color: #fdf9f4;
}

/* Hide the section by reducing opacity */
.hidden {
    opacity: 0;
}