body {
    font-family: 'Quattrocento', cursive;
    color: black;
}

html {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Quattrocento', cursive;
    font-weight: bold;
}

h2, h3, h4, h5 {
    font-family: 'Quattrocento', cursive;
    font-weight: bold;
}

p {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Raleway', cursive;
    /*color: #6c757d;*/

}

iframe {
    border-width: 0;
}