/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
    background-color: transparent;
    text-shadow: none; /* Prevent inheritance from `body` */
}

.custom-btn {
    transition: background-color 0.3s, color 0.3s;
}

.custom-btn:hover,
.custom-btn:focus{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

/*
 * Background image
 */
.bgImage {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.intro {
    background-image: url("../../images/shooting_photo/shooting_banc_chateau.JPG");
    height: 100vh;
    z-index: 0;
}

.navbar .nav-link {
    color: #fff !important;
}

.modal {
    z-index: 9999999; /* or a higher value */
}

.coverHeader {
    font-size: 4em;
}

.footerText {
    display: inline-block;
    text-align: center;
    /*white-space: nowrap; */
}

.footerText a {
    display: inline-block;
    margin-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .coverHeader {
        font-size: 2em;
    }

    .custom-btn {
        font-size: 14pt !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .coverHeader {
        font-size: 3em;
    }

    .custom-btn {
        font-size: 14pt !important;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .coverHeader {
        font-size: 3.5em;
    }

    .custom-btn {
        font-size: 14pt !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .coverHeader {
        font-size: 4em;
    }

    .custom-btn {
        font-size: 16pt !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .coverHeader {
        font-size: 4.5em;
    }

    .custom-btn {
        font-size: 18pt !important;
    }
}

@media only screen and (min-width: 1600px) {
    .coverHeader {
        font-size: 5em;
    }

    .custom-btn {
        font-size: 24pt !important;
    }
}

