.accommodationsMoreDetailsSection {
    width: 100%;
    position: relative;
}

.parallaxEffect {
    width: 100%;
    height: 70vh;
    background: url("../../images/shooting_photo/shooting_marche_lac.JPG") center/cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.accommodationsMoreDetailsPageContent {
    height: auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    justify-content: left;
    text-align: left;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

/* Apply margin and padding to direct children of .accommodationsMoreDetailsPageContent */
.accommodationsMoreDetailsPageContent :is(h1,h2,h3,h4,h5) {
    padding-top: 20px; /* Adjust the padding as needed */
}

.accommodationsMoreDetailsPageContent :is(iframe,img) {
    margin-left: 50px;
}

.bookRoomButton {
    background-color: rgb(169, 179, 136) !important;
    color: white !important;
    border: 3px solid white;
}

.dropdown-menu {
    position: relative !important;
    top: auto !important;
}