.accommodationsMoreDetailsPageContent  {
    height: auto;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    justify-content: left;
    text-align: left;
    font-family: 'raleway', cursive;
    font-weight: bold;
    padding-bottom: 50px;
}

/* Apply margin and padding to direct children of .accommodationsMoreDetailsPageContent */
.accommodationsMoreDetailsPageContent :is(h1,h2,h3,h4,h5) {
    padding-top: 20px; /* Adjust the padding as needed */
    padding-left: 50px;
}

.accommodationsMoreDetailsPageContent :is(div,span,p)  {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.accommodationsMoreDetailsPageContent :is(iframe,img) {
    margin-left: 50px;
}