/* swiper.css */

#photoSlider {
    text-align: center;
    background-color: #6c757d;
    overflow: hidden;
    padding: 0;
}

.swiperContainer {
    width: 100%; /* Adjust the width as needed */
    margin: 0; /* Center the slider */
}

.swiperSlide img {
    width: 100%; /* Ensure images fill the slide container */
}