/* footer.css */
.footer {
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #A9B388;
    font-family: "Quattrocento", cursive;
}

.copyright {
    font-size: 0.8em;
    text-align: center;
}

.weddingPhrase {
    font-size: 0.8em;
}
