/* Navbar CSS */

.logoAndWord {
    float: left;
    height: 50px;
    object-fit: contain;
}

/* Navbar Styling */
.navbar {
    background-color: #fdf9f4;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure full width */
}

.namesContainer  {

    font-family: 'kalam', cursive;
    font-weight: bold;
    display: flex; /* Use flex to align items horizontally */
    align-items: center; /* Align items vertically */
}

span[id="names"] {
    margin: 0 10px;
    font-size: 18pt;
}

.navContainer {
    float: right;
    justify-content: space-between; /* Align children to the beginning and end */
    align-items: center;
}

.navbarBrand {
    font-weight: bold;
    font-size: 24px;
    color: #000000; /* Brand color when navbar is transparent */
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-color: #586c44;
    transition: transform 0.3s ease-in-out;
    color: #fff;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(90deg);
}

/* Navbar Link Styling */
.navbar-nav .nav-link {
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #000 !important; /* Black text color */
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/* Center Align Navbar */
@media (min-width: 768px) {
    .navbar-nav {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}