.navbar * {
    font-family: 'Quattrocento', cursive;
    /*font-weight: bold;*/
    color: white;
}

.customNavbar *:not(span[id="andWord"]) {
    background-color: #A9B388 !important;
    color: white !important;
}

.namesContainer  {
    font-family: 'Quattrocento', cursive;
    /*font-weight: bold;*/
    color: white;
    display: flex;
    align-items: center;
}

span[id="andWord"] {
    font-family: 'tangerine', cursive;
    font-weight: bold;
    color: #395144;
    font-size: 24pt;
}

.names {
    margin: 0 10px;
    font-size: 14pt;
}

